<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body class="login">
    <%if(messageErr == true){%>
        <script>    
            alert('Email atau Password anda salah')
        </script>
    <%}%>
    <h1>Project Management System</h1>
    <form action="/login" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" name="inputEmail" id="inputEmail" placeholder="Enter Email">
          <input type="password" class="form-control" name="inputPassword" id="inputPassword" placeholder="Password">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="rememberme">
          <label class="form-check-label">Remember me</label>
        </div>
        <div>
            <button type="submit" class="btn-primary form-control">Sign in</button>
        </div>
      </form>
</body>
</html>
